html, 
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.stats {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.5em;
    font-family: monospace;
    font-size: 1em;
    pointer-events: none;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .stats {
        display: none;
    }
    
    #react {
        transform: scale(0.75);
        transform-origin: top left;
        width: 133.33%; /* 100% / 0.75 to ensure full width coverage */
        height: 133.33%; /* 100% / 0.75 to ensure full height coverage */
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none; /* Allow touch events to pass through to the canvas */
    }
    
    /* Re-enable pointer events for interactive elements inside #react */
    #react > div,
    #react > button {
        pointer-events: auto;
    }
}

.hovered-point-description {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.5em;
    font-family: monospace;
    font-size: 1em;
    pointer-events: none;
    transform: translate(0, 0);
    opacity: 1;
    transition: opacity 0.1s, transform 0.1s;
    z-index: 1000;
    border-radius: 0.5em;
    pointer-events: none;
}

.hidden {
    opacity: 0;
}

.vector-container {
    width: 10px;
    height: 10px;
    display: inline-block;
}

.vector-arrow {
    position: relative;
    width: 8px;
    height: 2px;
    background-color: white;
    display: inline-block;
    top: -4px;
}

.vector-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    position: relative;
    top: -4px;
}

.vector-arrow:after {
    content: '';
    position: absolute;
    right: -2px;
    top: -3px;
    width: 0;
    height: 0;
    border-left: 6px solid white;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}